
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <h1>Payment Successful</h1>
     <!--
 <form action="" method="post">

            {% csrf_token %}
            
           
            <input type="text" id="pickup_date_1" name="pickup_date_1" value="{{pickup_date_1}}" readonly><br>
            <input type="text" id="pickup_date_2" name="pickup_date_2" value="{{pickup_date_2}}" readonly><br>
            <input type="text" id="recipient_name" name="recipient_name" value="{{recipient_name}}" readonly><br>
            <input type="text" id="phone" name="phone" value="{{phone}} " readonly><br>
            <input type="text" id="delivery_type" name="delivery_type" value="{{delivery_type}}" readonly><br>
            <input type="text" id="estimated_cost" name="estimated_cost" value="{{estimated_cost}}" readonly><br>
            <input type="text" id="estimated_weight" name="estimated_weight" value="{{estimated_weight}}" readonly><br>
            <input type="text" id="country" name="country" value="{{country}} " readonly><br>
            <input type="text" id="state" name="state" value="{{state}}" readonly><br>
            <input type="text" id="house_number" name="house_number" value="{{house_number}}" readonly><br>
            <input type="text" id="street_name" name="street_name" value="{{street_name}}" readonly><br>
            <input type="text" id="apartment_number" name="apartment_number" value="{{apartment_number}}" readonly><br>
            <input type="text" id="zip_code" name="zip_code" value="{{zip_code}}" readonly><br>
            <input type="text" id="town" name="town" value="{{town}}" readonly><br>
            <input type="text" id="volumetric_weight" name="volumetric_weight" value="{{volumetric_weight}}" readonly><br>
            <input type="text" id="product_list" name="product_list" value="{{product_list}}" readonly><br>
            
            

        </form>
        -->
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>